/* En tu archivo .scss (o .css) */
.visible-icon {
  content: url('../../../assets/icon/eye.svg');
}
  .hidden-icon{
    content: url('../../../assets/icon/eye-slash.svg');
  }
  
  * {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
  }

  body {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100vh !important;
    margin: 0 !important;
  }

  #container {
    text-align: center;
    border: solid 2px white;
    width: 50vh;
    height: 65vh;
  }

  h1 {
    color: white;
    margin: 7vh 0 7vh 0;
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }

  form ion-item {
    margin: 0 1.5vh 1vh 1.5vh;
  }

  ion-button {
    margin-top: 2vh;
    width: 46vh;
  }

  #registerContainer {
    margin-top: 5vh;
  }

  #registro {
    color: #5353ec ;
  }

  @media (max-width: 450px) {
    #container {
      width: 90vw;
    }  

    ion-button {
      width: 82vw;
    }  
  }