<body>
  
  <div id="container">
    <h1>Instagramnt</h1>

    <form method="post" (ngSubmit)="verificarUsuaris(username, password)">
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input name="username" required [(ngModel)]="username"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input name="password" [(ngModel)]="password" type="{{ showPassword ? 'text' : 'password' }}" required></ion-input>
        <ion-icon  [class.visible-icon]="!showPassword" [class.hidden-icon]="showPassword" slot="end" style="margin-top: 20px;" (click)="togglePasswordVisibility()"></ion-icon>
      </ion-item>
      <!--   
            <ion-item>
              <ion-label>
                <ion-checkbox name="remember" [(ngModel)]="remember" (ionChange)="recordarCredenciales()"></ion-checkbox>
                Mantener sesion iniciada
              </ion-label>
            </ion-item> -->
  
      <ion-button type="submit">Entrar</ion-button>
      <div *ngIf="!siginCorrecto" style="color: red;">
       {{ errorMessage }}
     </div>
    </form>

    <div id="registerContainer">
      <p>¿No tienes una contraseña?</p>
      <a id="registro" (click)="openRegistro()">Regístrate</a>
    </div>

  </div>
  
</body>