<ion-content>
  <div id="toolbar">

    <div class="nav">
      <div class="nav-icons-container">
        <ion-icon (click)="navNewPub()" name="add" class="nav-icons" src="../../assets/icon/plus-circle.svg"></ion-icon>
        <ion-icon (click)="logout()" name="add" class="nav-icons" src="../../assets/icon/logout.svg"></ion-icon>
      </div>
    </div>

  </div>
  <!-- tu-componente.component.html -->



  <div *ngFor="let foto of fotos" class="publicacion">
  <div class="content-user">
    <div class="content-user-name">
      <ion-avatar class="avatar-publicacion">
        <img alt="Silhouette of a person's head" [src]="foto.avatarUrl || 'https://ionicframework.com/docs/img/demos/avatar.svg'" />
      </ion-avatar>
      <p>{{ foto.username }}</p>
    </div>

    <div class="content-post">
      <img [src]="foto.img" alt="">
    </div>

    <div class="content-icons">
      <div class="a">
        <ion-icon name="heart" src="../../assets/icon/heart.svg" (click)="like(foto)"></ion-icon>
      </div>
    </div>

    <div class="content-coments">
      <p>{{foto.numLikes }} likes</p>
        <!-- <p *ngFor="let comentario of foto.comentarios">
          {{ comentario }}
        </p> -->

        <p *ngFor="let comentario of foto.comentarios.slice(0, comentariosMostrados)">
          {{ comentario }}
        </p>
      
        <!-- Botón "Mostrar más" -->
        <button *ngIf="comentariosMostrados < foto.comentarios.length" (click)="mostrarMasComentarios()">Mostrar más</button>

      <form (ngSubmit)="comentar(foto)">
        <input type="text" name="coments" [(ngModel)]="comentario" placeholder="Agrega un comentario...">
        <button type="submit">Publicar</button>
      </form>

    </div>
  </div>
</div>





  

  
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</ion-content>